{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome-7.2.0/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome-7.2.0/css/brands.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/fontawesome-7.2.0/css/solid.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/css/bulma-1.0.4.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item has-text-weight-semibold" href="{% url 'home' %}">
                    {{ app_name }}
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="main-navbar-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="main-navbar-menu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'home' %}">
                        Home
                    </a>
                    {% if perms.core.view_trainrotationentry %}
                    <a class="navbar-item" href="{% url 'rotation' %}">
                        R4/R5 Rotation
                    </a>
                    {% endif %}

                    {% if perms.core.view_player %}
                    <a class="navbar-item" href="{% url 'players' %}">
                        Players
                    </a>
                    {% endif %}

                    {% if user.is_staff %}
                    <a class="navbar-item" href="{% url 'audit_logs' %}">
                        Audit Logs
                    </a>
                    <a class="navbar-item" href="/admin/">
                        Admin
                    </a>
                    {% endif %}
                </div>

                <div class="navbar-end">
                    {% if user.is_staff %}
                    <div class="navbar-item">
                        {% if latest_player_sync %}
                        {% if latest_player_sync.status == "success" %}
                        <span class="tag is-success is-medium"
                            title="Player Sync finished at {{ latest_player_sync.finished_at|date:'Y-m-d H:i' }}">
                            <i class="fa-solid fa-user-check ml-0 mr-2"></i>
                            {{latest_player_sync.finished_at|timesince}} ago
                        </span>
                        {% elif latest_player_sync.status == "running" %}
                        <span class="tag is-warning is-light is-medium"
                            title="Player Sync started at {{ latest_player_sync.started_at|date:'Y-m-d H:i' }}">
                            <i class="fa-solid fa-user-clock ml-0 mr-2"></i></i> Sync running
                        </span>
                        {% elif latest_player_sync.status == "failed" %}
                        <a href="/admin/core/playersyncrun/{{ latest_player_sync.id }}/change/">
                            <span class="tag is-danger is-medium" title="{{ latest_player_sync.message }}">
                                <i class="fa-solid fa-user-xmark ml-0 mr-2"></i>
                                {{latest_player_sync.finished_at|timesince}} ago
                            </span>
                        </a>
                        {% endif %}
                        {% else %}
                        <span class="tag is-medium">
                            <i class="fa-solid fa-user-slash ml-0 mr-2"></i> never
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}


                    <div class="navbar-item">
                        <span class="has-text-grey-light">
                            Logged in as <strong class="has-text-white">{{ user }}</strong>
                        </span>
                    </div>

                    <div class="navbar-item">
                        <form method="post" action="/accounts/logout/">
                            {% csrf_token %}
                            <button class="button is-light is-small" type="submit">
                                <i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Logout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    {% if messages %}
    <section class="section py-3">
        <div class="container">
            {% for message in messages %}
            <article class="message {% if message.tags %}is-{{ message.tags }}{% else %}is-info{% endif %}">
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% endif %}

    <main class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    {% if user.is_authenticated %}
    <footer class="footer py-4">
        <div class="content has-text-centered">
            <p>
                <strong>{{ APP_NAME }} {{ APP_VERSION }}</strong> by cosmadora.
                The source code is licensed
                <a href="https://opensource.org/license/mit">MIT</a>. The
                source code can be found
                <a href="{{ APP_SOURCE_URL }}">on GitHub</a>.
            </p>
        </div>
    </footer>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const burgers = Array.from(document.querySelectorAll(".navbar-burger"));

            burgers.forEach((burger) => {
                burger.addEventListener("click", () => {
                    const targetId = burger.dataset.target;
                    const target = document.getElementById(targetId);

                    burger.classList.toggle("is-active");
                    target.classList.toggle("is-active");
                });
            });
        });
    </script>
</body>

</html>
