{% extends "base.html" %}

{% block title %}Home | Train Conductors{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-1">Django OIDC Demo</h1>

      {% if user.is_authenticated %}
        <p class="subtitle is-5">
          You are logged in as <strong>{{ user }}</strong>.
        </p>

        <p class="subtitle is-5">
          <ul>
            <li>Super User: {% if user.is_superuser %}✅{% else %}🔴{% endif %}</li>
            <li>Staff: {% if user.is_staff %}✅{% else %}🔴{% endif %}</li>
          </ul>
        </p>

        <form method="post" action="/accounts/logout/">
          {% csrf_token %}
          <button class="button is-danger" type="submit">
            Logout
          </button>
        </form>
      {% else %}
        <p class="subtitle is-5">
          You are not logged in.
        </p>

        <!-- "dev" must match OIDC_PROVIDER_ID -->
        <form method="post" action="/accounts/oidc/dev/login/">
          {% csrf_token %}
          <button class="button is-primary" type="submit">
            Login with OIDC
          </button>
        </form>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
