{% extends "base.html" %}

{% block title %}Member Overview | {{ app_name }}{% endblock %}

{% load static %}
{% load alliance_status_tags %}

{% block content %}

<div class="tabs">
  <ul>
    <li class="is-active"><a><i class="fa-solid fa-user-check mr-2"></i> Members</a></li>
    <li><a href="{% url 'players' %}?others=true"><i class="fa-solid fa-user-xmark mr-2"></i> Non-Members</a></li>
    <li><a href="{% url 'player_search' %}"><i class="fa-solid fa-magnifying-glass mr-2"></i> Search</a></li>
  </ul>
</div>

<table class="table is-striped is-hoverable is-fullwidth player-overview-table">
  <thead>
    <tr>
      <th>Ingame Name</th>
      <th>Strength</th>
      <th>Last Train Conductor</th>
      <th>Membership Duration</th>
      <th class="has-text-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for player in players %}
    <tr>
      <td data-label="Player" class="player-overview-name-cell">
        <div class="player-overview-player">
          {% if player.is_member %}
          <span class="player-overview-rank">
            {% alliance_status_tag player.alliance_status %}
          </span>
          {% endif %}

          <span class="player-overview-name">
            {{ player.ingame_name }}
          </span>
        </div>
      </td>

      <td data-label="Strength">
        {{ player.strength_string }}
      </td>

      <td data-label="Last Train">
        {{ player.last_conductor_string }}
      </td>

      <td data-label="Membership">
        <abbr title="Joined {{ player.joined_at_string }}">
          {{ player.joined_at_since_string }}
        </abbr>
      </td>

      <td data-label="Actions" class="has-text-right player-overview-actions">
        {% if player.active_comment_count %}
        <a href="{% url 'player_detail' player.id %}#comments" class="player-overview-action">
          <span class="tag is-dark is-medium">
            <span class="icon-text">
              <span class="icon has-text-warning">
                <i class="fa-regular fa-comments"></i>
              </span>
              <span>{{ player.active_comment_count }}</span>
            </span>
          </span>
        </a>
        {% endif %}

        <a href="{% url 'player_detail' player.id %}" class="player-overview-action">
          <span class="tag is-dark is-medium">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-solid fa-circle-info"></i>
              </span>
              <span>Details</span>
            </span>
          </span>
        </a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">Nobody found :(</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
